/* COLORS */

:root {
  --background-color: #EEE;

  --table-color: white;

  --button-active-color: black;
  --button-active-text-color: white;

  --button-hover-color: #889E5F;
  --button-hover-text-color: white;

  --insert-color: #2CA1CD;
  --insert-text-color: white;

  --delete-color: #D17D96;
  --delete-text-color: black;
}




/* TOP LEVEL */

html {
  height: 100%;
  overflow-y: hidden;
}

body {
  background: var(--background-color);
  cursor: default;
  overflow-wrap: break-word;
  margin-top: 0px;
  height: 100%;
  overflow-x: visible;
  width: 1086.5px;
  margin-left: auto;
  margin-right: auto;
}

#table-wrapper {
  width: 726.5px;
}

#buttons {
  width: 342px;
  padding: 9px;
}

#help {
  width: 340px;
  padding: 10px;
}

@media only screen and (max-width: 1085px) {
  body {
    display: flex;
    flex-direction: column;
    width: 720px;
  }

  #table-wrapper {
    height: 100%;
    overflow-y: auto;
    margin-top: 10px;
  }

  #buttons-and-help {
    width: 720px;
  }

  #help,
  #buttons {
    float: left;
  }
}

@media only screen and (min-width: 1085px) {

  body {
    width: 1086.5px;
  }

  #topmargin {
    height: 20px;
  }

  #table-wrapper {
    height: calc(100% - 20px);
    overflow-y: auto;
  }

  #buttons-and-help {
    margin-top: 20px;
    width: 360px;
    float: right;
  }

  #buttons {
    padding-top: 0px !important;
  }
}






/* TABLE */

.table {
  display: table;
  padding-left: 10px;
}

.tableRow {
  display: table-row;
  background: var(--table-color);
}

.tableCell {
  display: table-cell;
  border: 1px solid var(--background-color);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 10px;
  font-size: 18px;
}

.tableRow .tableCell:nth-child(1) {
  min-width: 150px;
  max-width: 150px;
  text-align: right;
}

.tableRow .tableCell:nth-child(2) {
  min-width: 35px;
  max-width: 35px;
  text-align: center;
}

.tableRow .tableCell:nth-child(3) {
  min-width: 327px;
  max-width: 327px;
  text-align: left;
}

.tableRow .tableCell:nth-child(4) {
  min-width: 100px;
  max-width: 100px;
  text-align: left;
}

.tableRowSeperator {
  display: table-row;
  height: 50px;
}

.tableRowRulename {
  display: table-row;
}

.tableCellRulename {
  display: table-cell;
  font-family: 'Lato', sans-serif;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  padding-left: 1px;
  font-size: 18px;
}

.tableRowVdots {
  display: table-row;
}

.tableCellVdots {
  display: table-cell;
  font-family: 'Lato', sans-serif;
  padding-top: 3px;
}

.tableRowVdots .tableCellVdots:nth-child(1) {
  min-width: 150px;
}

.tableRowVdots .tableCellVdots:nth-child(2) {
  min-width: 35px;
  text-align: center;
}

.active {
  background: var(--insert-color);
  color: var(--insert-text-color);
}

.selectable {
  background: var(--button-active-color);
  color: var(--button-active-text-color);
}

.selectable:hover {
  background: var(--insert-color);
  color: var(--insert-text-color);
}




/* BUTTONS */

button {
  font-size: 18px;
  border: 1px solid var(--button-active-color);
  background-color: var(--button-active-color);
  color: var(--button-active-text-color);
  width: 53px;
  text-align: center;
  border-radius: 7px;
  padding: 3px;
  margin: 2px;
}

button:hover {
  border: 1px solid var(--button-active-color);
  background-color: var(--button-hover-color);
  color: var(--button-hover-text-color);
}

button:disabled,
button[disabled] {
  border: 1px solid var(--button-active-color);
  background-color: var(--button-active-color);
  color: var(--button-active-text-color);
  opacity: 40%;
}

#add>button {
  width: 167px;
}

#delete>button {
  width: 167px;
}

#finish>button {
  width: 167px;
}

.end-of-group {
  margin-bottom: 8px;
}





/* HELP */

p {
  font-family: Sans-Serif;
  font-size: 18px;
  margin-block-start: .5em;
  margin-block-end: .5em;
}

.deemphasise {
  font-size: 12px;
}